version: "3.5"

x-aws-vpc: "<Your VPC-ID>"
secrets:
  docdb_password:
    name: "<arn_documentdb_secret>"
    external: true
services:
  # Orion is the context broker
  orion:
    secrets:
      - docdb_password
    image: fiware/orion:latest
    deploy:
      x-aws-autoscaling:
        min: 2
        max: 4 #required
        cpu: 50
      resources:
        limits:
          cpus: "2"
          memory: 2048M
    networks:
      - orion-sg
    container_name: fiware-orion
    ports:
      - "1026:1026"
    entrypoint: ["/bin/sh", "-c"]
    environment:
      DOCDB_ENDPOINT: <Your-docdb-endpoint>
      DOCDB_USER: awsdemo
      ORION_LOGS_LEVEL: WARN
    command:
      - |
        sleep 5
        export DOCDB_PASSWORD=`cat /run/secrets/docdb_password`
        /usr/bin/contextBroker -fg -multiservice -ngsiv1Autocast -disableFileLog -dbhost $${DOCDB_ENDPOINT}:27017 -rplSet rs0 -dbuser $${DOCDB_USER} -dbpwd $${DOCDB_PASSWORD} -dbDisableRetryWrites -logLevel $${ORION_LOGS_LEVEL}
    healthcheck:
      test: curl --fail -s http://orion:1026/version || exit 1
x-aws-cloudformation:
  Resources:
    OrionTCP1026TargetGroup:
      Type: AWS::ElasticLoadBalancingV2::TargetGroup
      Properties:
        HealthCheckPath: /version
        HealthCheckPort: 1026
        HealthCheckProtocol: HTTP
        Protocol: HTTP
        Port: 1026
        VpcId: <Your VPC-ID>
        TargetType: ip

    LoadBalancer:
      Type: AWS::ElasticLoadBalancingV2::LoadBalancer
      Properties:
        IpAddressType: ipv4
        Name: orion-alb
        LoadBalancerAttributes:
          - Key: routing.http2.enabled
            Value: true
        Scheme: internal
        SecurityGroups:
          - <Orion-ALB Security Group ID>
        Subnets:
          - <Private Subnet1 ID>
          - <Private Subnet2 ID>
        Type: application

    OrionTCP1026Listener:
      Type: AWS::ElasticLoadBalancingV2::Listener
      Properties:
        LoadBalancerArn:
          Ref: LoadBalancer
        Port: 1026
        Protocol: HTTP
        DefaultActions:
          - TargetGroupArn:
              Ref: OrionTCP1026TargetGroup
            Type: forward

networks:
  orion-sg:
    external: true
    name: <Orion Security Group ID>
